<!DOCTYPE html>
<html lang="de">
<head>
  <title>Nähkurse Anne Pieser</title>
  <meta charset="utf-8">
  <meta name="description" content="Nähkurse in Berlin">
  <meta name="keywords" content="Nähkurse,Nähkurs,nähen,nähen lernen, selber nähen,DIY,Anfängernähkurs,Pulli nähen,Nähen für's Baby,Tasche nähen,Geschenke nähen,Weihnachtsgeschenke nähen,Jacke nähen,Kinderjacke nähen,Feriennähkurs,Nähkurse für Kinder,Berlin,Berlin-Steglitz,Steglitz,Berlin-Zehlendorf,Zehlendorf,Berlin-Dahlem,Dahlem,Berlin-Wilmersdorf,Wilmersdorf,Berlin-Charlottenburg,Charlottenburg,Berlin-Grunewald,Grunewald">
  <meta name="author" content="Anne Pieser">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/general.css?v=1.3">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#myPage">
      <img src="pics/logo.png" alt="Nähkurse" class="logo-small" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#courses">Gruppen-Kurse</a></li>
        <li class="nav-item"><a class="nav-link" href="#mehr">Privat-Kurse</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">Über mich</a></li>
        <li class="nav-item"><a class="nav-link" href="#kontakt">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <img src="pics/header.png" />
      </div>
    </div> 
  </div>  
</div>

<!--
<div class="container">
  <div class="row">
    <img src="pics/banner.png" alt="banner" class=".img-center-full" />
  </div>
</div>
-->
<div class="container-fluid">
  <div class="row mainContent">
    <div class="col-sm-12">
      <p><br />
        Yay, die beliebten <a href="#courses">Gruppen-Kurse</a> sind zurück.<br />
        Ab Januar 2026 finden diese in einem schönen Raum in der Knausstraße 18 im Grunewald statt. 
        Sucht euch unten euer Wunschthema raus und kontaktiert mich per Mail oder Telefon. 
      </p>
      <br />
      <p><strong>Was ihr bekommt?</strong></p>
      <div class="listCheck">
        <ul>
          <li>Schnelles und entspanntes Lernen in kleinen Gruppen (maximal 4 Schüler*Innen)</li>
          <li>Detaillierte Schritt-für-Schritt Anleitungen</li>
          <li>Ein bebildertes Handout zu den vermittelten Kursinhalten</li>
          <li>Bei Bedarf Nutzung meiner Nähmaschinen (ohne Aufpreis)</li>
          <li>Lustige und kreative Abende</li>
          <li>Mich ;) Ihr könnt von all meinen privaten Versuchs-und Irrtums-Erfahrungen sowie über zehn Jahren Erfahrung als Nählehrerin profitieren.</li>
        </ul>
      </div>      
      <p><br /></p>
      <p>
        Nach wie vor komme ich auch sehr gern für <a href="#mehr">private Nähstunden</a> zu euch nach Hause und richte mich absolut nach euren Wünschen. <br />
        Die Lerninhalte und Termine werden immer gemeinsam vorher besprochen, sodass ihr genau das bekommt, was ihr gerade braucht. 
        Nähmaschinen, sämtliches Nähzubehör (Scheren, Nadeln und so weiter…) sowie Reststoffe zum Rumprobieren stelle ich jederzeit gern zur Verfügung.
      </p>
      <p>
        Ich kann bis zu fünf Nähmaschinen mitbringen, sodass auch Kurse in kleineren Gruppen bei euch zu Hause möglich sind.
      </p>
    </div>
  </div>
</div>

<!-- Container (Kurse) -->
<div id="courses" class="container-fluid bg-grey">
  <div class="row bg-grey mainContent">
    <div class="col-sm-12">
      <h2>Gruppen-Kurse</h2>
    </div>
    <div class="col-sm-12 listOption">
      <ul>
        <li>Knausstraße 18, 14193 Berlin</li>
      </ul>
      <p><br /></p>
    </div>       
    <div class="col-sm-12 col-md-12 col-lg-12" v-for="course in currentCourseList" style="margin-bottom: 10px;">
      <div class="card text-center">
        <div class="card-header">
          <h3>{{course.name}}</h3>
        </div>
        <div class="card-body">
            <div>
                <p style="margin-top: 7px;">{{course.description}}</p>
                <div class="listOption">
                    <ul v-for="info in course.infoList">
                        <li><strong>{{info.name}}</strong><br />{{info.description}}</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center g-3">
                <div class="col-sm-12 col-md-5">
                    <img :src="course.imgSource" class="img-fluid img-center" style="margin-top:25pt; margin-bottom:10pt" />
                </div>
                <div class="col-sm-12 col-md-5 col-lg-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Kurs</th>
                                <th>Termine</th>
                                <th>Zeit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in course.courseList">
                                <td>{{item.title}}</td>
                                <td>
                                    <p class="tinyspace">{{getDatesFormat(item.dates)}}</p>
                                </td>
                                <td>19-21 Uhr</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
          <p><strong>{{course.price}}</strong></p>
         </div>
      </div>
    </div>

    <div class="col-sm-12">
        <div class="panel-group">
            <p><strong>Hinweis:</strong></p>
            <p>
              Die Materialien sind nicht mit im Kurspreis enthalten und müssen selbständig mitgebracht werden. Welche das sind, wird immer im Vorfeld und individuell auf euer Projekt bezogen besprochen.
            </p>
        </div>
    </div>
    
  </div>
</div>


<!-- Container (Mehr) -->
<div id="mehr" class="container-fluid">
  <div class="row mainContent">

    <div class="col-sm-12">
      <h2>Privat-Kurse</h2>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center">
        <div class="card-header">
          <h3>1 Person</h3>
        </div>
        <div class="card-body-price">
          <p>Privatnähkurs für eine Doppelstunde (120 Minuten).<br />
            Ruft mich einfach an und wir schauen zusammen im Kalender nach.
          </p>
        </div>
        <div class="card-footer">
          <p><strong>€ 100</strong></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center">
        <div class="card-header">
          <h3>2 Personen</h3>
        </div>
        <div class="card-body-price">
          <p>Privatnähkurs für eine Doppelstunde (120 Minuten).<br />
            Ruft mich einfach an und wir schauen zusammen im Kalender nach.
          </p>
        </div>
        <div class="card-footer">
          <p><strong>€ 150</strong></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center">
        <div class="card-header">
          <h3>Ab 3 Person</h3>
        </div>
        <div class="card-body-price">
          <p>Privatnähkurs für eine Doppelstunde (120 Minuten).<br />
            Ruft mich einfach an und wir schauen zusammen im Kalender nach.
          </p>
        </div>
        <div class="card-footer">
          <p><strong>€ 200</strong></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center">
        <div class="card-header">
          <h3>Gutscheine</h3>
        </div>
        <div class="card-body-price">
          <p>Natürlich ist es möglich die Nähkurse als Gutschein zu verschenken. <br />
            Besprecht mit mir eure Vorstellungen und ich stelle euch den Gutschein aus, den ihr braucht.
          </p>
        </div>
        <div class="card-footer">
          <p><i class="bi bi-gift"></i>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="panel-group">
          <p><strong>Hinweis:</strong></p>
          <p>Die Preise für die Kurse sind nicht in Stein gemeißelt. 
             Sollten die Preise euer momentanes Budget überschreiten, gebt mir bitte unbedingt Bescheid und wir verhandeln etwas anderes, was für alle beteiligten Parteien fair ist.</p>
      </div>
  </div>

    
  </div>
</div>


<!-- Container (Über mich) -->
<div id="about" class="container-fluid bg-grey">
  <div class="row mainContent">
    <div class="col-sm-12">
      <h2>Über mich</h2>
      <img class="floatingImageAnne" src="pics/anne.jpg" alt="Anne" />
      <p>Ich bin Anne.</p>
      <p>Angefangen hatte alles mit einer ganz bestimmten Tasche, 
        die ich mir vorgestellt hatte, aber so natürlich in keinem Laden gefunden habe. 
        Da hab ich mir den (aus heutiger Sicht) wohl unpassendsten Stoff ausgesucht, 
        der mir zur Verfügung stand, mir von meinem Vater die alte Nähmaschine erklären lassen 
        und habe  unter Vernachlässigung sämtlicher Gesetze des räumlichen Denkens 
        meine Traumtasche selber genäht.
      </p>
      <p>“Hui, das ist ja gar nicht so schwer,” 
        war meine Erkenntnis und eine Leidenschaft war geweckt. 
        Seitdem ist viel passiert und mitler Weile nähe ich mir so ziemlich 
        meine gesamte Garderobe selber.</p>
      <p>Ich habe einen Abschluss in Art&Design als auch in Ergotherapie 
        und habe irgendwann sämtliches Wissen, welches sich in mir angesammelt 
        hat in einen Topf geworfen und begonnen Nähkurse zu geben.</p>
      <p>In wirklich entspannter Atmosphäre erkläre ich die Nähmaschine und jedes Projekt 
        von Grund auf, lasse euch an sämtlichen Trial & Error Erfahrungen meinerseits
        teilhaben und unterstütze euch auch schon mal beim Auftrennen, 
        sollte die Naht doch nicht dort gelandet sein, wo ihr sie gern gehabt hättet.</p>
    </div>
  </div>
</div>

<!--
<div id="adresse" class="container-fluid">
  <div class="row mainContent">
    <div class="col-sm-12">
      <h2>Adresse</h2>
      <p><span class="glyphicon glyphicon-map-marker"></span> Teltower Damm 32, 14169 Berlin</p>
      <p><span class="glyphicon glyphicon-link"></span><a href="https://www.google.com/maps/place/N%C3%A4hkurse+Berlin-Steglitz/@52.4317272,13.2562846,17z/data=!3m1!4b1!4m5!3m4!1s0x47a85a856e55b203:0x7a55512deefe7b94!8m2!3d52.4317239!4d13.2584733" alt="Google Maps Nähkurse in Berlin-Steglitz"> Google Maps</a></p>
    </div>
  </div>
</div>
-->

<!-- Container (Contact Section) -->
<div id="kontakt" class="container-fluid">
  <div class="row mainContent">
    <div class="col-sm-12">
      <h2>Kontakt</h2>
      <p>Für Anmeldungen und Fragen:</p>
      <p><i class="bi bi-telephone"></i> 0174 7157599</p>
      <p><i class="bi bi-envelope"></i> anne.pieser@gmail.com</p>
      <p><i class="bi bi-globe"></i><a href="http://naehkurse-anne-pieser.de/" alt="Nähkurse in Berlin"> naehkurse-anne-pieser.de</a></p>
    </div>
  </div>
</div>


<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <i class="bi bi-chevron-up"></i>
  </a>
  <p>Impressum: Anne Pieser, Teltower Damm 32, 14169 Berlin, 
    anne.pieser@gmail.com, 0174 7157599, Steuernummer: 25 / 471/00449</p>
</footer>

<script src="vue.js?v=1.2"></script>

<script src="index.js?v=1.2"></script>

</body>
</html>